<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Email - вилучення</title>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link th:href="@{/resources/css/email_delete.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div th:if="${#strings.length(error) > 0}" class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <h4 style="color:red" th:text="${error}"></h4>
</div>

<div class="header">
  <h4>Вилучення email</h4>
</div>

<div th:if="${email.id == 0}">
  <p style="color:blue">Record for deleting not found!</p>
  <input class="form-btn" type="hidden" name="id_owner" th:value="${owner.id}" required>
  <a class="form-btn" th:href="@{'/emails?id_owner=' + ${owner.id}}">Назад</a>
</div>

<div th:if="${email.id > 0}">
  <form style="alignment: center" th:action="@{/delete_email}" method="post" class="groupTable">
    <table border="2">
      <tr>
        <th class="form-field-label">Email:</th>
        <td th:text="${email.toString()}"></td>
      </tr>
    </table>

    <h4>Ви підтверджуєте видалення контакту?</h4>

    <input type="hidden" name="id_email" th:value="${email.id}" required>
    <input type="hidden" name="id_owner" th:value="${owner.id}" required>
    <input class="form-btn" type="submit" value="Видалити">
    <a class="form-btn" th:href="@{'/emails?id_owner=' + ${owner.id}}">Назад</a>
  </form>
</div>

</body>
</html>
